*{
    margin: 0;
    background-color:black;
}
.navbar{
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    width: 98%;
    background-color:black;
    text-decoration: none;
    border: 13px solid black;
    text-transform: uppercase;
}
.navbar a:hover{
    border-bottom: 3px solid white;
    padding-bottom: 8px;
}

a{
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
}
#dp{
    background-color: black;
}
.hello{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 400px;
    width: 70%;
    margin: 30px;
    padding: 40px;
    padding-bottom: 170px;
    flex-shrink: 1;
}

.profile{
    display: flex;
    flex-direction: column;
    padding-top: 80px;

    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 20px;
    width: 98%;
}
.hello img{
    height: 600px;
    width: 75%;
    padding-left: 300px;
   
}
.profile img{
    height: 400px;
    width: 400px;
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 7px solid white;
}
h2{
    padding: 20px 0px 2px 0px;
    color: aliceblue;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
    color: aliceblue;
    padding: 10px;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    padding: 5px;
    color: aliceblue;
    text-align: justify;
    font-size: 20px;
    width: 700px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.youtube{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 20px;
    padding-bottom: 30px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: black;
    background-color: black;

}
.cn
{
    display: flex;
    justify-content: center;
    height: 20px;
    margin: 40px;
    width: 100%;
    background-color: black;
    color: white;
}
.sm{
    margin: 10px;
    height: 100px;
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color:white;
    background-color: black;
}
